.border-bottom{
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid #ebebeb;
}

.ul{
	display: inline-block;
}

.nav-item{
	margin-left: 0;
}

.slash:after{
	margin: 0 30px;
	content: '/';
	color: rgba(0,0,0,0.2);	
	font-size: 25px;
}
.nav-link{
	font-size: 25px;
	color: rgba(0,0,0,0.5);
	padding: 0;
	display: inline-block;
	transition: all .2s linear;
}

.nav-link:hover{
	color: #0d2636;
}

h1{
	font-size: 50px;
}
h2{
	font-size: 30px;
}

.titlespace{
	margin-bottom: 20px;
}

.progress {
	background: #ebebeb; 
}
.progress-bar {
	background: #0d2636;
}

.card{
	min-height: 350px;
	margin-bottom: 30px;
}

.card-text{
	min-height: 70px;
}
.card-img-top{
	height: 50% !important;
	width: 50% !important;
	margin-top: 10px;
}

.cardlink{
	margin: 0 auto;
	float: none;
	text-align: center;
}

.text-gray{
	color: gray;
}

.social{
	height: 40px;
	width: 40px;
}

.image {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
.image:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

footer{
	margin-bottom: 50px;
	color: #cccccc;
}